// COLORS
$primary-color: #0F0F0F;

$control-color: #9cc7d7;
$control-blue: #556A72;
$control-blue2: #587980;
$control-blue3: #8fdcec;
$control-red: #E94E2F;
$control-brown: #93713C;
$control-white: #FFFFFF;
// FONTS
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);