@import 'variables';
@import 'normalize';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $control-white;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000;
}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}



#loader {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  z-index: 10;
  text-align: center;
  transition: opacity 1s;
  &.hide {
    opacity: 0;
  }
}


#particles-js {
  height: 100%;
}

#loader-content{

  position: absolute;
  left: calc(50% - 323px);
  top: calc(50% - 173px);

    img {
      width: 100px;
      margin : 0 0 10px;
    }

    .sepLoad {
      width: 200px;
      margin: auto;
    }

    .name {
      display: block;
      font-weight: 100;
      font-size: 20pt;
      letter-spacing: 2px;

      span {
        font-weight: normal;
      }
    }

    p {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 10pt;
      margin: 20px auto 35px;
      letter-spacing: 2px;
    }

    .synchro {
      font-size: 10pt;
      font-weight: 300;
      text-transform: uppercase;

      .lodash {
        -webkit-animation-name: clignote; //on affecte l'animation clignote à notre bouton
        -webkit-animation-duration: 1s; //on définit la durée de l'animation à 1s
        -webkit-animation-iteration-count:infinite;
      }
    }

    .btn-start {
      display: block;
      font-weight: normal;
      border: 1px solid white;
      background: none;
      font-size: 10pt;
      padding: 10px 50px;
      transition: all 0.4s;
      margin: 40px auto;
      outline:none;
    }

    .btn-start:hover {
      background: white;
      color: black;
    }
}

#control-bar {
  position: fixed;
  padding: 15px 10px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-right: 2px $control-color solid;
  width:280px;
  height: 100%;
  min-height: 720px;
  background-color: $primary-color;
  z-index: 2;
  transition: left .5s ease-in;

  .hide {
    position: absolute;
    right: -40px;
    bottom: -8px;
    color: #fff;
    font-size: 200%;
    cursor: pointer;
    transition: all .5s ease-in;
  }

  &.hidden {
    left: -280px;
    .hide {
      transform: rotateY(-180deg);
    }
  }
}
#logo {
  display: inline-block;
  width:40%;
  vertical-align: top;
}

#logo img {
  width: 100%;
}
#current_time {
  margin-top: 10px;
}


#status{
  position: relative;
  top: -8px;
  text-align: center;
  display: inline-block;
  margin-left: 24px;
  width: 40%;
  .online {
    display: block;
    margin: 0 auto;
    color: $control-brown;
    font-weight: 100;
    font-size: 20pt;
  }
  .status {
    display: block;
    margin: 0 auto;
    color: $control-white;
    font-size: 10.7pt;
    font-weight: 300;
  }
  .time {
    display: block;
    width: 100%;
    font-size: 15px;
    color: $control-color;
    font-weight: 100;
    letter-spacing: 4px;
  }
}
#name {
  display: block;
  text-align: center;
  width: 100%;
  color: $control-blue3;
  font-size: 12pt;
  margin: 10px 0px 10px 0px;
  letter-spacing: 2px;

  span {
    color: $control-blue2;
    background-color: #303F45;
    border-radius: 4px;
    font-size: 11pt;
    font-weight: bold;
    padding: 3px 6px;
    margin-right: 5px;
  }

}
.seperate {
  margin-top: -5px;
  width: 100%;
  opacity: 0.5;
  text-align: center;

  :after {

    content: '';
    background-color: $control-color;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    top: -2px;
    right: 0;
    position: absolute;

  }

  :before {

    content: '';
    background-color: $control-color;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    top: -2px;
    left: 0;
    position: absolute;
  }

  .line {
    display: inline-block;
    width: calc(100% - 20px);
    height: 1px;
    background-color: $control-color;
    margin-bottom: 2px;
    position :relative;
  }
}

#box1 {

}
.box{
  text-align: center;

  .left {
    margin-top: 5px;
    display: inline-block;
    width: 40%;
    border: 1px solid $control-blue;
    vertical-align: top;
    img{width: 100%;}
  }
  .right {
    margin-top: 5px;
    margin-left: 22px;
    display: inline-block;
    width: 40%;
    text-align: center;

    .fiel {
      color: #587980;
      background-color: #303F45;
      border-radius: 4px;
      font-size: 7pt;
      font-weight: bold;
      padding: 3px 6px;
      margin-right: 5px;
    }
    .value {
      color: $control-color;
      font-weight: 100;
      margin: 5px 0;
    }
    .value-bar {
      display: inline-block;
      height: 10px;
      width: 100%;;
      background-color: $control-brown;
    }
    .seperate {
      margin: 5px 0px 10px 0px;
    }
  }
}


#popup-box {
  position: absolute;
  bottom:-250px;
  left:calc(50% - 110px);
  top:100%;
  width:500px;
  height: 400px;
  box-sizing: border-box;
  padding: 20px;
  background-color: $primary-color;
  border: 2px solid $control-color;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  .popup-titre {
    font-size: 20px;
    text-transform: uppercase;
  }
  input {
    background-color: $primary-color;
    border: 2px solid $control-color;
    color: $control-color;
  }
  .etape1-descript {
    display: block;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
  }
}
#etape1-form {
  margin-top: 50px;
  .etape1-field{
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 40px;
    font-size: 30px;
    text-align: center;
  }
  .etape1-submit {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width:110px;
    height: 40px;
  }
}
#popup-box.active{
  top:calc(50% - 200px) !important;
  opacity: 1 !important;
}


#box3 {
  text-align: justify;
  font-size: 10pt;
  font-weight: 100;
  height: calc(100% - 635px);
  p {
    box-sizing: border-box;
    height:100%;
    overflow-y: scroll;
    padding: 0 10px;
  }
}
#box4 {
  width: 260px;
  position: absolute;
  bottom: 15px;

  .button {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    a {
      color:$control-white;
      text-decoration: none;
    }
  }
}

#viewport {
  position: fixed;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  height: 100%;
  transition: left .5s ease-in, width .5s ease-in;
}

#control-bar.hidden + #viewport {
  left: 0;
  width: 100%;
}

@-webkit-keyframes clignote {
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}
